/* --------------------------------------------------
   Estilo del canvas
-------------------------------------------------- */
#lienzo {

    /* Relleno (color de fondo) café claro */
    background-color: #e4cb86;

    /* Borde café oscuro */
    border: 3px solid #5a3e1b;

    /* Esquinas redondeadas */
    border-radius: 15px;

    /* Sombra */
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.35);

    

}
